<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--tomcat路径-->
    <add key="tomcatHome" value="D:\Apache Software Foundation\apache-tomcat-7.0.82"></add>
    <!-- 待更新经销商（多个经销商用“,”隔开）-->
    <add key="defaultTenant" value="DMJT"></add>
    <!-- 子文件夹路径 -->
    <add key="subPath" value="\WEB-INF\lib\"></add>
    <!--禁止更新的目录-->
    <add key="forbidDirs" value="docs,examples,host-manager,manager,ROOT,DfcvMobile"></add>
  </appSettings>
</configuration>